@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

#check:checked~ul {
    left: 0;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(78, 78, 78);
}
/* 
.hamburger .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger .bar:nth-child(2) {
    opacity: 0;
}

.hamburger .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
} */