@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


body {
     background-image: url("./images/mobile\ background.png");
     background-repeat: no-repeat;
     background-position: fixed;
    background-size: 100%;
}


.description {
    width: 90%;
    font-size: 14px;
    padding: 10px;
    margin-top: 10px;
}

:indeterminate

#venue {
    margin: 10px 0 10px 0;
}

#location {
    margin-top: 5px;
}


@media screen and (min-width: 768px) {
    body {
     background-image: url("./images/home-bg-desk.png");
     background-repeat: no-repeat;
     background-position: fixed;
     /* margin: 100px 0 0 0; */
    }

    #home {
     margin: 0 15%;
    }

    /* .main__section {
        padding: 100px 0 0 0;
    } */

    .description {
        width: 50%;
        margin-top: 0;
    }
    
    #feature__container {
        display: grid;
        grid-template-columns: auto auto;
    }
    #program__section {
        display: flex;
        flex-direction: row;
    }
}